<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>

    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login">
        Login
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/img/woman.svg" alt=""><br>
    <h3>Bienvenido!</h3>
    <p>Te quitamos la preocupación de lavar tu ropa, y ¿De qué manera?, vamos por ella a tu domicilio la lavamos por ti,
      y te la devolvemos de 24 a 48 horas hasta las puertas de tu domicilio perfectamente lavada y lista para usarse. Tú
      solo disfruta de tu tiempo. </p>
  </div>


  <ion-button id="sbms-button" shape="round">
    Saber Más
  </ion-button>



</ion-content>