<ion-header class="ion-no-border">
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <img src="assets/img/woman.svg" alt=""><br>
    <h3>Bienvenido!</h3>
    <p>Te quitamos la preocupación de lavar tu ropa, y ¿De qué manera?, vamos por ella a tu domicilio la lavamos por ti,
      y te la devolvemos de 24 a 48 horas hasta las puertas de tu domicilio perfectamente lavada y lista para usarse. Tú
      solo disfruta de tu tiempo. </p>
  </div>

  <ion-button id="sbms-button" shape="round" routerLink="/login" color="tertiary">
    Login
  </ion-button>

</ion-content>